/*shared css elements*/


html{
    box-sizing: border-box;
  
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body{
      padding: 0;
      margin: 0;
  }
  
  header{
      background-color: black;
      background-image: url(../images/header-image.jpg);
      background-repeat: no-repeat;
      background-position: top right;
      background-size: cover;
      color: #fff;
  }
  
  .lin-background{
      background-image: linear-gradient(to right,
      rgba(0,0,0,1),
      rgba(0,0,0,0.5),
      rgba(0,0,0,0));
  }
  
  
  
  .header-container{
      width: 100%;
      padding-top: 4rem;
  }
  
  .top{
      min-height: 34.375rem;
  }
  
  .row{
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
}
  
  .cart-container{
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }
  
  .cart-icon{
      width: 2.5%;
  }
  
  .right{
      float: right;
      font-size: 1.75rem;
      margin: 1rem 0.5rem 0rem 0.5rem;
  }
  
  .cart-button{
      background-color: #81B741;
      color: whitesmoke;
      font-size: 1.25rem;
      padding: 0.35rem 3rem;
      float: right;
      position: relative;
      top: 2.75rem;
      right: 12rem;
  }
  
  .logo-container{
      position: relative;
      right: 9rem;
  }
  
  .logo{
      width: 625px;
      display: inline;
  }
  
  .seattle{
      font-size: 2rem;
      color:#81B741;
      font-family: 'Laila', serif;
      margin-top: 0;
  }
  
  
  
  /*top nav*/
  nav{
      display: flex;
      align-items: flex-end;
      width: 100vw;
      background-color: #D3D3D3;
      border-bottom: 1px solid #D3D3D3;  
  }
  
  
  
  .nav-list{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      list-style-type: none;
      font-size: 1.75rem;
      padding-left: 0;
  }
  
  .nav-link{
      max-width: 80%;
      display: flex;
      align-items: center;
  }
  
  .nav-link a{
      text-decoration: none;
      color: #093C60;
  }
  
  .nav-link:nth-of-type(1)::after{
      content: "/";
      color: #093C60;
      font-weight: 900;
      padding-left: 1rem;
      padding-right: 1rem;
      
  }
  .nav-link:nth-of-type(2)::after{
      content: "/";
      color: #093C60;
      font-weight: 900;
      padding-left: 1rem;
      padding-right: 1rem;
  
  }
  
  /*end of nav start of footer*/
  
  footer{
      background-color: #093C60;
      color: whitesmoke;
      padding-top: 1rem;
      padding-bottom: 1rem;
  }
  
  .foot-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }
  
  h3{
      color: #093C60;
      font-size: 2rem;
      font-weight: 700;
      margin: 0;
      text-align: left;
  }
  
  h4{
      font-size: 1.5rem;
      margin: 0;
      text-align: left;
  }
  
  .flogo{
      width: 20%;
      padding-top: 4%;
  }
  
  .nav-containerf{
      width: 18%; 
  }
  
  
  .nav-listf{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      list-style-type: none;
      font-size: 1.25rem;
  }
  
  .nav-linkf{
      max-width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .nav-linkf a{
      text-decoration: none;
      color: whitesmoke;
  }
  
  .nav-linkf:nth-of-type(1)::after{
      content: "/";
      color: #D3D3D3;
      font-weight: 900;
      padding-left: 1rem;
      padding-right: 1rem;
      
  }
  .nav-linkf:nth-of-type(2)::after{
      content: "/";
      color: #D3D3D3;
      font-weight: 900;
      padding-left: 1rem;
      padding-right: 1rem;
  
  }
  
  
  footer p{
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      text-align: center;
  }
  
  /*end of footer and shared content. Start of main*/

h2{
    color: #093C60;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 0rem;

}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

article{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2.5rem;
}


.text-container{
    width: 60%;
    height: auto;
}

.text{
    font-size: 1.75rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.square{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

}

.dog-pic{
    width: 100%;
    display: block;
}

.grid-content{
    line-height: 1.5;
    font-size: 0.9rem;
    padding: 1rem;
    

}

.grid-content > p:first-of-type{
    margin-top: 0; 
}

.grid-content > p:last-of-type{
    margin-bottom: 0; 
}

.grid-info{
    padding: 1rem;
    display: flex;
    justify-content: center;
    
}

.grid-info button{
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
    background-color: #81B741;
    width: 100%;
    border: none;
}

.see-container{
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}


#murphy{
    
}

#poppy{
    
}


@media screen and (max-width: 480px) {
    /* smallest mobile screen size and start of header*/
    header{
        background-image: url(../images/header-images/header-small.jpg);
        background-size: cover;
        padding-top: 1rem;
    }

    .row{
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .header-container{
        width: 100%; 
        margin-left: 0.5rem;
    }
    
    .top{
        width: 80%;
        min-height: 0;
    }
    
    .cart-container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    .cart-icon{
        width: 7%;
        position: relative;
        top: 0.5rem;
        left: 5rem;
    }
    
    .right{
        font-size: 1.75rem;
        margin: 1rem 0.5rem 0rem 0.5rem;
        position: relative;
        left: 6rem;
    }
    
    .cart-button{
        font-size: 1rem;
        padding: 0.25rem 1rem;
        top: 2.75rem;
        right: 0.85rem;
    }
    
    .logo-container{
        position: relative;
        left: 0rem;
    }
    
    .logo{
        width: 80%;
        display: inline;
    }

    .seattle{
        font-size: 1.5rem;
    }



    /*end of header start of main*/
    
    main{
        width: 100%;
    }    

    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }

    /*end of main start of footer*/

    .flogo{
        width: 45%;
        padding-top: 4%;
    }
    
    .nav-containerf{
        width: 60%; 
        padding: 0;
    }

    .nav-listf{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        font-size: 1.25rem;
        padding: 0;
    }

    footer p{
        font-size: 1.5rem;
        display: flex;
        
    }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
    /*  large mobile screen size and start of header*/
    header{
        background-image: url(../images/header-images/header-medium.jpg);
        background-size: cover;
        padding-top: 1rem;
    }

    .row{
        width: 100%;
        margin-left: 1rem;
        margin-right: 0;
    }

    .header-container{
        width: 100%; 
    }
    
    .top{
        width: 80%;
        min-height: 0;
    }
    
    .cart-container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    .cart-icon{
        width: 4.5%;
        position: relative;
        top: 0.5rem;
        left: 5rem;
    }
    
    .right{
        font-size: 1.75rem;
        margin: 1rem 0.5rem 0rem 0.5rem;
        position: relative;
        left: 6rem;
    }
    
    .cart-button{
        font-size: 1rem;
        padding: 0.35rem 1.5rem;
        top: 2.75rem;
        right: 1rem;
    }

    .row{
        width: 100%;
        margin-left: 1rem;
        margin-right: 0;
    }
    
    .logo-container{
        position: relative;
        left: 0rem;
    }
    
    .logo{
        width: 80%;
        display: inline;
    }

    .seattle{
        font-size: 1.5rem;
    }

    /* end of header start of main*/
    
    main{
        width: 100%;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
    

    /*end of main start of footer*/

    .flogo{
        width: 45%;
        padding-top: 4%;
    }
    
    .nav-containerf{
        width: 100%; 
        padding: 0;
    }

    .nav-listf{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        font-size: 1.25rem;
    }

    footer p{
        font-size: 1.5rem;
        display: flex;
        
    }
    
}



@media screen and (min-width: 769px) and (max-width: 1024px) {
/*  tablet screen size and start of header*/
    header{
        background-image: url(../images/header-images/header-medium.jpg);
        background-size: cover;
        padding-top: 1rem;
    }

    .header-container{
        width: 100%; 

    }

    .row{
        width: 100%;
        margin-left: 1rem;
        margin-right: 0;
    }
    
    .top{
        width: 80%;
        min-height: 0;
    }
    
    .cart-container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    .cart-icon{
        width: 3.75%;
        position: relative;
        top: 0.5rem;
        left: 5rem;
    }
    
    .right{
        font-size: 1.75rem;
        margin: 1rem 0.5rem 0rem 0.5rem;
        position: relative;
        left: 6rem;
    }
    
    .cart-button{
        font-size: 1rem;
        padding: 0.35rem 1.5rem;
        top: 2.75rem;
        right: 1rem;
    }
    
    .logo-container{
        position: relative;
        left: 0rem;
    }
    
    .logo{
        width: 80%;
        display: inline;
    }

    .seattle{
        font-size: 1.95rem;
    }

    /* end of header start of main*/

    main{
        width: 100%;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
    

    /*end of main start of footer*/

    .flogo{
        width: 45%;
        padding-top: 4%;
    }
    
    .nav-containerf{
        width: 100%; 
        padding: 0;
    }

    .nav-listf{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        font-size: 1.25rem;
        padding: 0;
    }

    footer p{
        font-size: 1.5rem;
        display: flex;

    }
    
}


@media screen and (min-width: 1025px) and (max-width: 1200px) {

    header{
        background-image: url(../images/header-images/header-large.jpg);
        background-size: cover;
        padding-top: 1rem;
    }

    .row{
        width: 100%;
        margin-left: 1rem;
        margin-right: 0;
    }

    .header-container{
        width: 100%; 
    }
    
    .top{
        width: 80%;
        min-height: 0;
    }
    
    .cart-container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    .cart-icon{
        width: 3.75%;
        position: relative;
        top: 0.5rem;
        left: 5rem;
    }
    
    .right{
        font-size: 1.75rem;
        margin: 1rem 0.5rem 0rem 0.5rem;
        position: relative;
        left: 6rem;
    }
    
    .cart-button{
        font-size: 1rem;
        padding: 0.35rem 1.5rem;
        top: 2.75rem;
        right: 1rem;
    }
    
    .logo-container{
        position: relative;
        left: 0rem;
    }
    
    .logo{
        width: 80%;
        display: inline;
    }

    .seattle{
        font-size: 1.95rem;
    }

    /* end of header start of main*/
    
    main{
        width: 100%;
    }

    /*end of main start of footer*/

    .flogo{
        width: 45%;
        padding-top: 4%;
    }
    
    .nav-containerf{
        width: 100%; 
        padding: 0;
    }

    .nav-listf{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        font-size: 1.25rem;
        padding: 0;
    }

    footer p{
        font-size: 1.5rem;
        display: flex;

    }
    
}
